/******************Interfaz y CSS General******************/

body{
    margin:0;
    font-family: 'Monda', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

div{
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding-bottom: 10px;
    margin-top: 30px;
    color:white;
    font-size:3em;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #0ff 0px 0px 20px, #0ff 0px 0px 30px, #0ff 0px 0px 40px, #0ff 0px 0px 50px, #0ff 0px 0px 75px;
}

#contenedor{
    width:900px;
    margin: auto;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.btn-turno{
    width: 25%;
    margin: 4.1%;
    height: 200px;
    line-height: 200px;
    background-color: #302727;
    text-align: center;
    font-size: 2em;
    color:white;
    transition: 1s;
    border-radius: 20px;
}

.btn-turno:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#entrevistas:hover{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    box-shadow: 0px 0px 40px 20px #FF2D95;
}
#ventas:hover{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #0ff 0px 0px 20px, #0ff 0px 0px 30px, #0ff 0px 0px 40px, #0ff 0px 0px 50px, #0ff 0px 0px 75px;
    box-shadow: 0px 0px 40px 20px #0ff;
}
#reclamos:hover{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #07e404 0px 0px 20px, #07e404 0px 0px 30px, #07e404 0px 0px 40px, #07e404 0px 0px 50px, #07e404 0px 0px 75px;
    box-shadow: 0px 0px 40px 20px #07e404;
}





