/************************** CSS Modal y Fondo***************************/

.contenedor-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #00000067;
    opacity: 0;
    transition: 1s;
    visibility: hidden;
}

.modal{
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 20vh;
    padding: 25px;
    border-radius: 10px;
}
.modal p{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}
.modal input, .modal textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    padding: 4px;
}
.modal input[type='submit']{
    width: 220px;
    float: right;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    border: 2px solid blue;
    margin-top: 20px;
    margin-bottom: 0px;
    color: black;
}
.modal input[type='submit']:active{
    transform: scale(0.95);
}
.cleaner{
    clear:both;
}
.modal .cancel{
    float: right;
    font-size: 1.5em;
    font-weight: bold;
}
.modal .cancel:hover, .modal input[type='submit']{
    cursor: pointer;
}

/***********FX Modal*****************/

.fondo-entrevista{
    box-shadow: 0px 0px 40px 20px #FF2D95;
    border: 2px solid rgb(238, 5, 122);
}
.fondo-ventas{
    box-shadow: 0px 0px 40px 20px #0ff;
    border: 2px solid #00b8ff;
}
.fondo-reclamos{
    box-shadow: 0px 0px 40px 20px #07e404;
    border: 2px solid #05a503;
}

/**************Animatio Modal****************/

.show{
    opacity: 1 !important;
    visibility: visible !important;
}